body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: lightgray;
}

p,
a {
  margin: 0px;
  font-family: Roboto, Arial;
  text-decoration: unset;
}