.sidebar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width: 70px;
  z-index: 2000;
  padding: 10px 0;
}

.sidebar-link {
  height: 74px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 2px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}