.video-preview {
  min-width: 300px;
  max-width: 350px;
}

.thumbnail-row {
  position: relative;
  margin-bottom: 8px;

}

.thumbnail {
  width: 100%;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 2px;
}

.channel-box,
.video-das {
  display: inline-block;
  vertical-align: top;
}

.channel-box {
  width: 15%;
  position: relative;
  cursor: pointer;
}

.channel-box .tooltip {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.channel-box:hover .tooltip {
  opacity: 1;
}

.channel-box .tooltip .channel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 14px;
}

.channel-box .tooltip p {
  font-size: 11px;
  margin: 5px 0;
}



.video-das {
  width: 80%;
}

.channel {
  width: 80%;
  border-radius: 50%;
  margin-left: 2px;
}

.video-description {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
}

.video-author,
.video-stats {
  font-size: 12px;
  margin: 5px 0px;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}